:root {
  --background-primary: #fff;
  --text-primary: #111;

  --button-filled-bg: #111;
  --button-filled-fg: #fff;
  --button-filled-hover: #282828;
  --button-filled-click: #444444;

  --list-item-bg: var(--background-primary);
  --list-item-hover: #f8f8f8;
  --list-item-click: #eaeaea;

  --border-primary: #f0f0f0;
}
