:root {
  --color-bg: #f2e6d8;
  --color-text: #1a1a1a;

  --color-accent: #c6a87d;
  --color-accent-hover: #b99569;
  --color-accent-active: #a68155;

  --color-border: #d9cbb8;
  --color-bg-hover: #e8daca;
  --color-bg-selected: #dbc4a5;
  --color-bg-panel: #f7efe5;

  --color-btn-bg: #000000;
  --color-btn-text: var(--color-bg);
  --color-btn-hover-bg: #2a2a2a;

  --color-scroll-thumb: #c2ad8d;
  --color-scroll-track: #f2e6d8;
}
