@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./colors.scss');

html {
  font-size: 10px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
}

.skeleton {
  animation: fading 1.5s ease-in-out infinite alternate;
  background-color: #bbb;
  border-radius: 0.5rem;
}

@keyframes fading {
    from {
      opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
