@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./colors.scss');

html {
  font-size: 10px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
}
